<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=misrastoragequeue;AccountKey=RqV01sSwH4FBGMmPjqcVWvDvZAAeWCTNabDZNwCwpKeUw0t1anhgRkGLfe70+9x4D+Cxq3Y6B/xDNtW/cOzp6A==;EndpointSuffix=core.windows.net" />
	</appSettings>
</configuration>